@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@400..700&family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:wght@400;500;700&display=swap");

/* global styling */
body {
  font-family: 'League Spartan', sans-serif;
  background-color: #fef9f4; 
  color: #3e2c27;
}

#title {
  font-size: 30px;
  color: #3e2c27;
  font-weight: 600;
}

button.normal {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}

button.white {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}


/* header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #fffaf3;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.house-logo {
  color: #3e2c27;
}

#nav-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-div li {
  padding: 20px;
}

#nav-div li a {
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s ease;
  position: relative;
  display: inline-block;
  color: #3e2c27;
  text-decoration: none;
}

#nav-div li a:hover,
#nav-div li a.active {
  color: #b48a54; 
}

#nav-div li a.active::after,
#nav-div li a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b48a54;
  position: absolute;
  bottom: -3px;
  left: 0;
}

#mobile {
  display: none;
}

#close {
  display: none;
}

/* home */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  flex-wrap: wrap;
  background-color: #f6ede4; 
}

.hero-texts-div {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex: 1 1 400px;
  background-color: #fffaf3;
  border-radius: 10px;
  padding: 20px;
  color: #3e2c27;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.hero-text {
  font-size: 25px;
  color: #3e2c27;
}

.hero-texts-div h2 {
  font-size: 30px;
  color: #b48a54;
}

.hero-texts-div button {
  padding: 10px 20px;
  background-color: #b48a54;
  color: #fffaf3;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.hero-texts-div button:hover {
  background-color: #a07440;
}

.picture-box {
  display: flex;
  justify-content: center;
  border: #b48a54 solid 3px;
  border-radius: 15px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  flex: 1 1 300px;
  width: 100%;
}

.model-pic {
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

/* feature  section 2*/

.section-padding {
  padding: 50px 60px;
}

#feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 2px solid #a07440;
  border-radius: 3px;
}

.fe-box img {
  width: 100%;
  margin-bottom: 15px;
}

.fe-box:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(62, 61, 62, 0.3);
}

.fe-box h4 {
  display: inline-block;
  padding: 10px 9px 6px 9px;
  border-radius: 3px;
  color: #2c2422;
  background-color: #fddde4;
}

.fe-box:nth-child(2) h4{
  background-color: #cdebbc;
}

.fe-box:nth-child(3) h4{
  background-color: #d1e8f2;
}
.fe-box:nth-child(4) h4{
  background-color: #cdd4f8;
}
.fe-box:nth-child(5) h4{
  background-color: #f6dbf6;
}
.fe-box:nth-child(6) h4{
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 h2 {
 font-size: 70px;
 font-weight: 500;
}

#product1 p {
  font-size: 25px;
  color: grey;
}

/* ganaxleba */
.product-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 100%;
  box-sizing: border-box;
  justify-items: center;
  
}

.pro {
  width: fit-content;
  width: 100%;
  max-width: 300px;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.01);
  transition: 0.2s ease-out;
  position: relative;
}

.pro:hover {
  box-shadow: 10px 10px 30px rgba(50, 50, 50, 0.1);
  background-color: #d6d6d7;
}


.pro img {
  width: 250px; 
  height: 300px;
  border-radius: 15px;
  object-fit: cover; 
  object-position: center; 
  display: block;      
  margin: 0 auto;        
}

.des span {
  font-weight: 300;
  font-size: 18px;
  color: #606063;
}

.des h5 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(99, 98, 98);
}


.des {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px 0px 5px;
  text-align: start;
}

.star i {
  font-size: 13px;
  color: rgb(199, 199, 19);
}

.des h4 {
  padding-top: 5px;
  font-size: 17px;
  font-weight: 600;
  color: #11a99e;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #c1c1c7;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* section 3 banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/banners/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  row-gap: 20px;
}

#banner h4 {
  font-size: 30px;
  color: white;
}

#banner h3 {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

#banner h3 span {
  color: red;
}

#banner button:hover {
  background-color: #088178;
  color: white;
}


/* multiple banners section */


  .banner-box {
    width: 100%;
    max-width: 600px;
    min-width: unset;
    height: auto; 
    padding: 25px;
  }

#season-banners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 60px;
  gap: 20px;
}


.banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../images/banners/b4.jpg");
  width: 48%;
  min-width: 400px;        
  max-width: 600px;       
  height: auto;
  min-height: 300px;
  max-height: 400px;
  background-size: cover;
  background-position: center center; 
  background-repeat: no-repeat;
  background-attachment: local; 
  row-gap: 7px;
  padding: 25px;
  box-sizing: border-box;
}

.banner-box h4{
  font: 700;
  font-size: 20px;
  color: white;
}

.banner-box h2 {
  font: 600;
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.banner-box span {
  font-size: 20px;
  font: 700;
  padding-bottom: 30px;
  color: white;
}

#season-banners .banner-box:hover button {
  background-color: #b48a54;
  border-color: #906c3d;
}

#banner-box2 {
  background-image: url("../images/banners/b5.jpg");
}

/* email news letter  */


#news-letter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #d1a66f;
  /* height: 220px; */
  padding: 50px 80px;
  gap: 20px;
}

#news-letter .form {
  display: flex;
  width: 100%;
  flex: 1 1 300px;
  max-width: 500px;
}

#news-letter h4 {
  font-size: 35px;
  font-weight: bold;
  font: 500;
}

#news-letter p {
  font-size: 20px;
  font: 400;
  color: rgb(73, 72, 72);
}

#news-letter p span {
  color: rgb(248, 37, 37);
  font-weight: bold;
}

#news-letter input {
  height: 40px;
  font-size: 15px;
  width: 50%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex: 1;
  min-width: 0;
}

#news-letter button {
  color: white;
  background-color: #088178;
  height: 40px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 80px;
}

footer .footer-col{
  display: flex;
  flex: 1 1 200px;
  max-width: 250px;
  flex-direction: column;
  align-items: flex-start;
}

.download-btn {
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.footer-col {
  row-gap: 15px;
}

.footer-col h3 {
  font-weight: bold;
  padding-bottom: 10px;
  font: 500;
}
.footer-col p {
  font-size: 17px;
  font: 500;
  color: rgb(110, 109, 109);
}

.footer-col a {
  font-size: 17px;
  font: 500;
  color: rgb(110, 109, 109);
}



/* sizes  & media query*/

@media (max-width:1024px) {
  .banner-box {
    min-width: 100%;
}

  #feature {
    justify-content: center;
    padding: 40px;
  }

  #season-banners {
    flex-direction: column;
    padding: 40px 40px;
    align-items: center;
  }

  .banner-box {
    width: 100%;
    max-width: 600px;
    min-width: unset;
    height: auto; 
    padding: 25px;
  }
}

@media (max-width:768px) {
  .section-padding {
    padding: 50px 60px;
  }
  #nav-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    background-color: #faecdd;
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #nav-div.active {
    right: 0px;
  }

  #mobile {
  display: flex;
  align-items: center;
  gap: 20px;
  }

  #mobile i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  }

  #mobile #bar {
  font-size: 30px;
  cursor: pointer;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  #shoping-cart {
    display: none;
  }

  /* tansacmelebis container */
  .product-container {
    justify-content: center;
  }

  .pro {
    margin: 0 auto;
  }

  /* hero mobile version */

  #hero {
    justify-content: center;
    row-gap: 25px;
    flex-direction: column;
  }

  .hero-texts-div {
    width: 100%;
  }

    /* section 1 mobile */

  #feature {
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding: 30px;
  }

  .fe-box {
    margin: 15px 15px;
    width: 160px;
  }

  /* section 3 banner  */

  #banner {
    padding: 20px; 
    height: auto;  
    row-gap: 15px;
  }

  #banner h4 {
  font-size: 23px;
  }

  #banner h3 {
  font-size: 30px; 
  max-width: 100%; 
}

  /* section 4 banners  */
  #season-banners {
  flex-direction: column;
  padding: 40px 20px;
  align-items: center; 
}

.banner-box {
  width: 100%;
  min-width: unset; 
  max-width: 500px; 
  height: auto;
  min-height: 250px;      
  padding: 25px;         
}

  /* email banner part  */

  #news-letter .form {
    width: 70%;
  }

  #footer {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }
  
  .footer-col {
    width: 100%;
    max-width: 500px;
    align-items: center;        
  }
}

@media (max-width: 480px) {

  #header {
    padding: 10px 30px;
}

  #hero {
    padding: 5px 13px;
  } 
  .hero-text {
    font-size: 20px;
  }
  .hero-texts-div h2 {
    font-size: 25px;
  }
  .picture-box {
    padding: 10px;
  }

  #feature {
    padding: 25px 15px;  
    gap: 15px;
  }

  .fe-box {
    width: 155px;   
  }

  

  .section-padding {
    padding: 25px 30px;
}

  #banner h4 {
    font-size: 20px;
}
  #banner h3 {
  font-size: 22px; 
  max-width: 100%;  
}

  #season-banners {
    padding: 40px 20px;
}
  .banner-box {
    min-height: 200px;
  }

  .banner-box h2 {
    font-size: 30px;
}
  button.white {
    padding: 12px 20px;
}

  #news-letter {
    height: 220px;
    padding: 30px 50px;
}
  
  #news-letter input {
    height: 40px;
    font-size: 15px;
    width: auto;
    
}

  #news-letter button {
    flex: 0 0 auto;
}

  footer {
    row-gap: 10px;
}
}


